<header class="header_in is_sticky clearfix">
    <div class="container-fluid">
        <div id="logo">
            <a href="index.html">
                <img src="img/logo_sticky.svg" width="140" height="35" alt="">
            </a>
        </div>
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#0" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a href="index.html"><img src="img/logo.svg" width="140" height="35" alt=""></a>
            </div>

            <ul>
                <li><a href="#0">Food</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- /header -->